In [82]:
import pandas as pd
import numpy as np 
import mplsoccer as mpl 
from mplsoccer import Pitch
import matplotlib.pyplot as plt
from statsbombpy import sb

get last of all match ID in the euros

In [83]:
matches = pd.DataFrame()
matches = sb.matches(55,282)
match_id_list = matches['match_id'].to_list()
match_id_list

[3942819,
 3943043,
 3942752,
 3942382,
 3942349,
 3930180,
 3930171,
 3942227,
 3942226,
 3938645,
 3930184,
 3941022,
 3941021,
 3941020,
 3941019,
 3941018,
 3941017,
 3930182,
 3930179,
 3940983,
 3940878,
 3930177,
 3930173,
 3930172,
 3930167,
 3930168,
 3930165,
 3930164,
 3930161,
 3938637,
 3938640,
 3938642,
 3938639,
 3938641,
 3938644,
 3938643,
 3938638,
 3930183,
 3930181,
 3930178,
 3930176,
 3930175,
 3930174,
 3930170,
 3930169,
 3930166,
 3930163,
 3930162,
 3930160,
 3930159,
 3930158]

Using the matchID list, we aim to create a list of players by iterating through lineups of each match and adding the unique values 

ISSUE: the team_id variable is unavailable here

In [84]:
master_lineup = pd.DataFrame()
for i in range(0,50):
    lineup = sb.lineups(match_id_list[i])
    for team in lineup.values():
        team_df = pd.DataFrame(team)
        master_lineup = pd.concat([master_lineup,team_df],ignore_index=True)
master_lineup = master_lineup.drop_duplicates(subset='player_id')
master_lineup

,player_id,player_name,player_nickname,jersey_number,country,cards,positions
0,2988,Memphis Depay,None,10,Netherlands,[],"[{'position_id': 23, 'position': 'Center Forwa..."
1,3306,Nathan Aké,None,5,Netherlands,[],"[{'position_id': 6, 'position': 'Left Back', '..."
2,3311,Daley Blind,None,17,Netherlands,[],[]
3,3567,Georginio Wijnaldum,None,8,Netherlands,[],[]
4,3669,Virgil van Dijk,None,4,Netherlands,"[{'time': '86:26', 'card_type': 'Yellow Card',...","[{'position_id': 5, 'position': 'Left Center B..."
...,...,...,...,...,...,...,...
1856,34600,Nicușor Silviu Bancu,Nicusor Bancu,11,Romania,[],"[{'position_id': 6, 'position': 'Left Back', '..."
1959,28211,Erik Janža,None,13,Slovenia,"[{'time': '21:48', 'card_type': 'Yellow Card',...","[{'position_id': 6, 'position': 'Left Back', '..."
2179,5591,Filip Kostić,None,11,Serbia,[],[]
2266,10540,Kieran Tierney,None,6,Scotland,[],"[{'position_id': 5, 'position': 'Left Center B..."
2459,3441,Nikola Vlašić,None,13,Croatia,[],[]

In [85]:
#getting rid of the nickname and name mismatch 
def replace_name_with_nickname(row):
    if pd.notna(row['player_nickname']):
        return row['player_nickname']
    return row['player_name']
master_lineup['player_name'] = master_lineup.apply(replace_name_with_nickname, axis=1)

# Drop the player_nickname column
master_lineup = master_lineup.drop(columns=['player_nickname'])
master_lineup

,player_id,player_name,jersey_number,country,cards,positions
0,2988,Memphis Depay,10,Netherlands,[],"[{'position_id': 23, 'position': 'Center Forwa..."
1,3306,Nathan Aké,5,Netherlands,[],"[{'position_id': 6, 'position': 'Left Back', '..."
2,3311,Daley Blind,17,Netherlands,[],[]
3,3567,Georginio Wijnaldum,8,Netherlands,[],[]
4,3669,Virgil van Dijk,4,Netherlands,"[{'time': '86:26', 'card_type': 'Yellow Card',...","[{'position_id': 5, 'position': 'Left Center B..."
...,...,...,...,...,...,...
1856,34600,Nicusor Bancu,11,Romania,[],"[{'position_id': 6, 'position': 'Left Back', '..."
1959,28211,Erik Janža,13,Slovenia,"[{'time': '21:48', 'card_type': 'Yellow Card',...","[{'position_id': 6, 'position': 'Left Back', '..."
2179,5591,Filip Kostić,11,Serbia,[],[]
2266,10540,Kieran Tierney,6,Scotland,[],"[{'position_id': 5, 'position': 'Left Center B..."
2459,3441,Nikola Vlašić,13,Croatia,[],[]

In [86]:
master_lineup[master_lineup['country']=='Spain']

,player_id,player_name,jersey_number,country,cards,positions
52,3042,Mikel Merino,6,Spain,[],"[{'position_id': 17, 'position': 'Right Wing',..."
53,3265,Joselu,9,Spain,[],[]
54,3477,Álvaro Morata,7,Spain,[],"[{'position_id': 23, 'position': 'Center Forwa..."
55,4127,David Raya,1,Spain,[],[]
56,4353,Aymeric Laporte,14,Spain,[],"[{'position_id': 5, 'position': 'Left Center B..."
57,5202,Nacho,4,Spain,[],"[{'position_id': 3, 'position': 'Right Center ..."
58,5721,Daniel Carvajal,2,Spain,[],"[{'position_id': 2, 'position': 'Right Back', ..."
59,6655,Fabián Ruiz,8,Spain,[],"[{'position_id': 11, 'position': 'Left Defensi..."
60,6685,Mikel Oyarzabal,21,Spain,[],"[{'position_id': 23, 'position': 'Center Forwa..."
61,6748,Ferrán Torres,11,Spain,[],[]
62,6765,Rodri,16,Spain,[],"[{'position_id': 9, 'position': 'Right Defensi..."
63,6821,Jesús Navas,22,Spain,[],[]
64,10336,Álex Grimaldo,12,Spain,[],[]
65,11748,Unai Simón,23,Spain,[],"[{'position_id': 1, 'position': 'Goalkeeper', ..."
66,16532,Daniel Olmo,10,Spain,"[{'time': '29:57', 'card_type': 'Yellow Card',...","[{'position_id': 19, 'position': 'Center Attac..."
67,17620,Marc Cucurella,24,Spain,[],"[{'position_id': 6, 'position': 'Left Back', '..."
68,22128,Robin Le Normand,3,Spain,[],"[{'position_id': 3, 'position': 'Right Center ..."
69,24921,Martín Zubimendi,18,Spain,[],"[{'position_id': 9, 'position': 'Right Defensi..."
70,32185,Álex Remiro,13,Spain,[],[]
71,41115,Álex Baena,15,Spain,[],[]
72,41542,Dani Vivian,5,Spain,[],[]
73,68574,Nico Williams,17,Spain,[],"[{'position_id': 21, 'position': 'Left Wing', ..."
74,143864,Fermín López,25,Spain,[],[]
75,316046,Lamine Yamal,19,Spain,[],"[{'position_id': 17, 'position': 'Right Wing',..."
128,3076,Ayoze Pérez,26,Spain,[],[]
420,30486,Pedri,20,Spain,[],"[{'position_id': 13, 'position': 'Right Center..."

Current objective : to obtain an aggregate of all events of a specific type player wise

 gather all event data across the tournament pertaining to a specific player in a different dataframe

In [87]:
events = sb.events(match_id= 3930159)
pid = 3500
player_event_df = events[events['player_id']==pid]
player_event_df

,50_50,ball_receipt_outcome,ball_recovery_offensive,ball_recovery_recovery_failure,block_deflection,carry_end_location,clearance_aerial_won,clearance_body_part,clearance_head,clearance_left_foot,...,shot_technique,shot_type,substitution_outcome,substitution_replacement,tactics,team,team_id,timestamp,type,under_pressure
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Switzerland,773,00:00:16.870,Pass,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Switzerland,773,00:00:25.243,Pass,True
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Switzerland,773,00:01:51.555,Pass,True
61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Switzerland,773,00:05:09.740,Pass,NaN
106,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Switzerland,773,00:08:58.148,Pass,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Switzerland,773,00:46:16.508,Dispossessed,True
3221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Switzerland,773,00:02:47.137,Block,NaN
3226,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Switzerland,773,00:23:09.235,Block,NaN
3242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Head,True,NaN,...,NaN,NaN,NaN,NaN,NaN,Switzerland,773,00:30:32.590,Clearance,True
3323,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Switzerland,773,00:43:00.215,Foul Won,True

In [88]:

# Player ID to filter events
pid = 3500

# Initialize an empty list to store dataframes
player_events_list = []

# Iterate over each match ID
for match_id in match_id_list:
    # Load events for the current match
    events = sb.events(match_id=match_id)
    
    # Filter events for the specified player
    player_event_df = events[events['player_id'] == pid]
    
    # Append the filtered dataframe to the list
    player_events_list.append(player_event_df)

# Concatenate all dataframes in the list into a single dataframe
all_player_events_df = pd.concat(player_events_list, ignore_index=True)

# Display the combined dataframe
all_player_events_df

,50_50,bad_behaviour_card,ball_receipt_outcome,block_deflection,block_save_block,carry_end_location,clearance_aerial_won,clearance_body_part,clearance_head,clearance_left_foot,...,goalkeeper_success_in_play,ball_recovery_offensive,dribble_no_touch,pass_miscommunication,player_off_permanent,goalkeeper_penalty_saved_to_post,goalkeeper_shot_saved_off_target,shot_follows_dribble,shot_saved_off_target,shot_redirect
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1243,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1244,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1245,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Head,True,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1246,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Replicating for Multiple Players

In [89]:
#create a filtered master lineup
filtered_player_namedf = pd.read_csv("/Users/angadbawa/Development/Futbol/Euros /100MinPlayerList.csv")
player_names_list = filtered_player_namedf['player_name'].to_list()
filtered_player_namedf

         player_name
0    Jordan Pickford
1        Declan Rice
2        John Stones
3        Kyle Walker
4    Jude Bellingham
..               ...
332         Emre Can
333     Eberechi Eze
334       Luka Jović
335    Nélson Semedo
336       Diogo Jota

[337 rows x 1 columns]

In [90]:
# Filter the master_lineup to only keep players in the player_names_list or player_nicknames_list
filtered_master_lineup = master_lineup[
    master_lineup['player_name'].isin(player_names_list) 
]

# Display the filtered master lineup
filtered_master_lineup

,player_id,player_name,jersey_number,country,cards,positions
1,3306,Nathan Aké,5,Netherlands,[],"[{'position_id': 6, 'position': 'Left Back', '..."
4,3669,Virgil van Dijk,4,Netherlands,"[{'time': '86:26', 'card_type': 'Yellow Card',...","[{'position_id': 5, 'position': 'Left Center B..."
5,7787,Stefan de Vrij,6,Netherlands,[],"[{'position_id': 3, 'position': 'Right Center ..."
6,7829,Wout Weghorst,9,Netherlands,[],"[{'position_id': 23, 'position': 'Center Forwa..."
8,8125,Denzel Dumfries,22,Netherlands,"[{'time': '13:43', 'card_type': 'Yellow Card',...","[{'position_id': 2, 'position': 'Right Back', ..."
...,...,...,...,...,...,...
1529,39483,Mykhailo Mudryk,10,Ukraine,[],"[{'position_id': 16, 'position': 'Left Midfiel..."
1610,264017,Anzor Mekvabishvili,20,Georgia,"[{'time': '82:31', 'card_type': 'Yellow Card',...","[{'position_id': 9, 'position': 'Right Defensi..."
1855,34599,Florinel Coman,17,Romania,[],"[{'position_id': 16, 'position': 'Left Midfiel..."
1959,28211,Erik Janža,13,Slovenia,"[{'time': '21:48', 'card_type': 'Yellow Card',...","[{'position_id': 6, 'position': 'Left Back', '..."
2266,10540,Kieran Tierney,6,Scotland,[],"[{'position_id': 5, 'position': 'Left Center B..."

In [91]:
#check which names are mising from one
list1 = filtered_master_lineup['player_name'].to_list()
c=0
for i in player_names_list:
    
    val = i in list1
    if(val==False):
        print(i)
        c+=1
print(c)

Marc Guéhi
Dayot Upamecano
Fabián Ruiz Peña
Dani Carvajal
Memphis
Dani Olmo
Vanja Drkušič
Andrei Burcă
Radu Drăgușin
Florin Niță
Pierre Højbjerg
Kenan Yıldız
Khvicha Kvaratskhelia
Samet Akaydın
Jeremy Doku
Denis Drăguș
Rasmus Højlund
Joakim Mæhle
Arlind Ajeti
Nicușor Bancu
Jakub Kiwior
Mykola Matviyenko
Miloš Veljković
Illia Zabarnyi
Heorhiy Sudakov
Grant Hanley
Randal Kolo Muani
Phillipp Mwene
Heorhii Tsitaishvili
Dávid Strelec
Saba Kvirkvelia
Marin Pongračić
Anatolii Trubin
Giorgi Gwelesiani
Victor Bernth Kristiansen
Daniel Vivian
Zuriko Davitashvili
Valentin Mihaila
Mojmir Chytil
Kerem Aktürkoğlu
Zeki Çelik
41

now we successfully aggregated  all the player statistics for a single player across all the matches. Using a list of all players that have played more than a 100 minutes we can now find this for every player within that list.